.list__view{margin-bottom:10px;}

.add_to_links li span, .list__view__wrapper .cart__action li span{
    border: 0 none;
    margin-right: 8px;
    border-radius: 100%;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    height: 36px;
    line-height: 40px;
    padding: 0;
    position: relative;
    background: #f5f5f5;
    color: #333;
    text-align: center;
    width: 36px;
    transition: all 300ms ease-in 0s;
    cursor: pointer;
}

.add_to_links li span:hover, .list__view__wrapper .cart__action li span:hover {
    color: #fff;
    background-color: #ce7852;
}

.list__view__wrapper .cart__action li span{
    height: 44px;
    width: 44px;
}

.show{display:block;}
.hide{display:none;}
.info{font-style: italic; font-size: 14px; padding: 5px 0px 10px;}
.checkout_login .account__title{display:none;}

.checkout_accordion .payment{padding: 30px 50px;}
.test-warning{padding: 10px 0;}