.skill-container .single-skill:nth-child(1) .progress-bar{width: 90%;}
.skill-container .single-skill:nth-child(2) .progress-bar{width: 95%;}
.skill-container .single-skill:nth-child(3) .progress-bar{width: 93%;}
.skill-container .single-skill:nth-child(4) .progress-bar{width: 90%;}